.stream-container {
	padding: 0;
}

ov-video {
	width: 100%;
	height: auto;
	float: left;
	cursor: pointer;
}
.participant-name {
	position: absolute;
	background: #f8f8f8;
	padding-left: 5px;
	padding-right: 5px;
	color: #777777;
	font-weight: bold;
	border-bottom-right-radius: 4px;
	z-index: 1000;
}
p {
	margin: 0;
}

.hidden {
	display: none;
}
