<div id="main-container" class="container">
	<div *ngIf="!room" id="join">
		<div id="img-div">
			<img src="assets/images/openvidu_grey_bg_transp_cropped.png" />
		</div>
		<div id="join-dialog" class="jumbotron vertical-center">
			<h1>Join a video room</h1>
			<form class="form-group" (submit)="joinRoom()">
				<p>
					<label>Participant</label>
					<input
						class="form-control"
						type="text"
						id="participantName"
						name="participantName"
						[(ngModel)]="myParticipantName"
						required
					/>
				</p>
				<p>
					<label>Room</label>
					<input
						class="form-control"
						type="text"
						id="roomName"
						name="roomName"
						[(ngModel)]="myRoomName"
						required
					/>
				</p>
				<p class="text-center">
					<input
						class="btn btn-lg btn-success"
						type="submit"
						name="commit"
						value="Join!"
					/>
				</p>
			</form>
		</div>
	</div>

	<div *ngIf="room" id="room">
		<div id="room-header">
			<h1 id="room-title">{{ myRoomName }}</h1>
			<input
				class="btn btn-large btn-danger"
				type="button"
				id="buttonLeaveRoom"
				(click)="leaveRoom()"
				value="Leave room"
			/>
		</div>
		<div *ngIf="mainPublication" id="main-video" class="col-md-6">
			<p class="participant-name">
				{{ getParticipantName(mainPublication.trackSid) }}
			</p>
			<ov-video
				*ngIf="mainPublication.videoTrack"
				[track]="mainPublication.videoTrack"
			></ov-video>
		</div>
		<div id="video-container" class="col-md-6">
			<div *ngIf="localPublication" class="stream-container col-md-6 col-xs-6">
				<p class="participant-name">
					{{ getParticipantName(localPublication.trackSid) }}
				</p>
				<ov-video
					*ngIf="localPublication.videoTrack"
					[track]="localPublication.videoTrack"
					(click)="updateMainStreamManager(localPublication)"
				></ov-video>
			</div>
			<div
				*ngFor="let publication of remotePublications"
				class="stream-container col-md-6 col-xs-6"
			>
				<p class="participant-name">
					{{ getParticipantName(publication.trackSid) }}
				</p>
				<ov-video
					*ngIf="publication.videoTrack"
					[track]="publication.videoTrack"
					(click)="updateMainStreamManager(publication)"
				></ov-video>
				<ov-audio
					*ngIf="publication.audioTrack"
					[track]="publication.audioTrack"
				></ov-audio>
			</div>
		</div>
	</div>
</div>
