#my-chat-panel,
#my-participants-panel,
#my-activities-panel {
	text-align: center;
	height: calc(100% - 40px);
	margin: 20px;
}

#my-chat-panel {
	background: #c9ffb2;
}

#my-participants-panel {
	background: #ddf2ff;
}

#my-activities-panel {
	background: #ffddc9;
}