html,
body {
	height: 100%;
	font-family: 'Open Sans', sans-serif;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#local-participant {
	float: left;
	margin: 10px;
	width: 40%;
}

#remote-participants {
	float: right;
	margin: 10px;
	width: 40%;
}

video {
	width: 70%;
	margin: 10px auto 0 auto;
	display: block;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.form-group {
	margin: 10px 0;
	text-align: left;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type='text'],
input[type='checkbox'],
button {
	width: 95%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

input[type='checkbox'] {
	width: auto;
	display: inline;
	margin-right: 10px;
}

button {
	background: #007bff;
	color: #fff;
	cursor: pointer;
	transition: background 0.3s;
}

.leave-button,
.share-screen-button {
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	width: 50%;
	margin: 10px 10px;
}

.leave-button {
	background-color: rgb(151, 28, 28);
}
.share-screen-button {
	background-color: #0056b3;
}
